<tr>
	<td align="center" valign="top">
		<!-- // Begin Template Footer \\ -->
		<table border="0" cellpadding="10" cellspacing="0" width="600" id="templateFooter">
			<tr>
				<td valign="top" class="footerContent">

					<!-- // Begin Module: Standard Footer \\ -->
					<table border="0" cellpadding="10" cellspacing="0" width="100%">
						<tr>
							<td valign="top" width="350">
								<div mc:edit="std_footer">
									<em>Copyright &copy; {f:format.date(date:'now',format:'Y')}, All rights reserved.</em>
								</div>
							</td>

						</tr>
					</table>
					<!-- // End Module: Standard Footer \\ -->

				</td>
			</tr>
		</table>
		<!-- // End Template Footer \\ -->
	</td>
</tr>
