<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:email="http://typo3.org/ns/GeorgRinger/Templatedmail/ViewHelpers"
    data-namespace-typo3-fluid="true">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width"/>
</head>
<email:inlineStyles css="EXT:templatedmail/Resources/Public/Css/simple.css">
    <body>
    <table class="body-wrap">
        <tr>
            <td class="container">
                <table>
                    <tr>
                        <f:render partial="Header" arguments="{_all}"/>
                    </tr>
                    <tr>
                        <td class="content">
                            <f:render section="content"/>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <f:render partial="Footer"/>
    </table>
    </body>
</email:inlineStyles>
</html>
